<app-header>
  <span title>News</span>
  <span description>Check our lastest news</span>
</app-header>
<div class="container rounded p-0">
  <ul class="list-unstyled border border-dark p-3">
    <li>
      <a
        href="https://www.skysports.com/football/news/11661/12617202/premier-league-final-day-whats-still-to-play-for"
      >
        <h2>
          Premier League Final Day: What's still to play for?<span
            style="text-decoration: none"
            >22/05/2022</span
          >
        </h2>
      </a>
      <div class="row my-5">
        <div class="col-sm">
          <p>
            The title, third place, Champions League qualification, Europa
            League qualification and relegation to be decided on Sunday; Man
            City vs Aston Villa, Liverpool vs Wolves and Brentford vs Leeds live
            on Sky Sports; Watch all the goals on Soccer Special; All games
            kick-off at 4pm Third place: Chelsea still need a point to
            mathematically secure third place although it would require an
            unprecedented swing on goal difference for Tottenham to leapfrog
            Thomas Tuchel's side. Champions League qualification: Tottenham
            effectively just need a point at Norwich to be sure of finishing
            fourth. Barring another improbable swing on goal difference, Arsenal
            can only jump ahead if they beat Everton and Tottenham lose at
            Norwich.
          </p>
        </div>
        <div class="col-sm">
          <img
            class="rounded"
            src="assets\img\1.jpg"
            alt="PLFD"
            width="512"
            height="288"
          />
        </div>
      </div>
    </li>
    <li>
      <a
        href="https://www.skysports.com/f1/news/12433/12618346/spanish-grand-prix-lewis-hamilton-vows-to-compete-with-ferrari-as-mercedes-solve-bouncing-issues"
      >
        <h3>Spanish Grand Prix: Lewis Hamilton vows to compete with Ferrari</h3>
      </a>
      <div class="row my-5">
        <div class="col-sm">
          <p>
            Lewis Hamilton expects Mercedes to be able to battle it out with
            Ferrari in the Spanish Grand Prix; Toto Wolff told Sky Sports the
            team have solved their straight-line porpoising issues; watch the
            Spanish Grand Prix live on Sky Sports F1 at 2pm on Sunday. Lewis
            Hamilton believes Mercedes are capable of competing with Ferrari in
            Sunday's Spanish Grand Prix after another much-improved display from
            the team in qualifying. Both George Russell and Hamilton built on
            promising practice runs on Friday and Saturday morning to qualifying
            fourth and sixth respectively for the race in Barcelona, with the
            team having brought an upgraded car to Spain.
          </p>
        </div>
        <div class="col-sm">
          <img
            class="rounded"
            src="assets/img/2.jpg"
            alt="SPG"
            width="512"
            height="288"
          />
        </div>
      </div>
    </li>
    <li>
      <a
        href="https://www.skysports.com/football/news/11679/12618193/pep-guardiola-liverpool-have-driven-manchester-city-to-the-very-limit-im-nothing-without-my-players"
      >
        <h3>
          Pep Guardiola: Liverpool have driven Manchester City to the very limit
        </h3>
      </a>
      <div class="row my-5">
        <div class="col-sm">
          <p>
            Pep Guardiola's Man City go into the final day of the Premier League
            season one point ahead of Liverpool; City host Aston Villa at the
            Etihad Stadium, while Liverpool entertain Wolves; watch Man City vs
            Aston Villa live on Sky Sports Main Event on Sunday; kick-off 4pm
            Manchester City manager Pep Guardiola has credited Liverpool with
            bringing the best out of his own team, while also downplaying his
            contribution to the Premier League champions' rise as the two rivals
            prepare go head to head for the title on Super Sunday. City lead
            Liverpool by just a point with one game left to play on Sunday
            afternoon as Guardiola's side host Aston Villa, while the Reds
            entertain Wolverhampton Wanderers with the champions needing a win
            to guarantee retaining the championship.
          </p>
        </div>
        <div class="col-sm">
          <img
            class="rounded"
            src="assets\img\3.webp"
            alt="PGL"
            width="512"
            height="288"
          />
        </div>
      </div>
    </li>
  </ul>
</div>
