<div class="container rounded p-0 shadow">
    <ul class="list-unstyled border border-dark p-3 shadow">
        <li >
            <div class="row my-5">
            <div class="col-sm">
                <a href="/news/1">
                    <h2>Premier League Final Day: What's still to play for?<span style="text-decoration:none;">22/05/2022</span></h2>
                </a>
                <br>
                <p>The title, third place, Champions League qualification, Europa League qualification and relegation to be decided on Sunday;
                Man City vs Aston Villa, Liverpool vs Wolves and Brentford vs Leeds live on Sky Sports; Watch all the goals on Soccer Special;
                All games kick-off at 4pm.
            </p>
            </div>
            <div class="col-sm">
                <img class="rounded" src="assets\img\1.jpg" alt="PLFD" width="512" height="288">
              </div>
              </div>


            
        </li>
        <li>
            
            <div class="row my-5">
                <div class="col-sm">
                    <a href="/news/2">
                        <h3>Spanish Grand Prix: Lewis Hamilton vows to compete with Ferrari</h3>
                    </a>
                    <br>
                    <p>Lewis Hamilton expects Mercedes to be able to battle it out with Ferrari in the Spanish Grand Prix;
                        Toto Wolff told Sky Sports the team have solved their straight-line porpoising issues;
                        watch the Spanish Grand Prix live on Sky Sports F1 at 2pm on Sunday.
                </div>
                <div class="col-sm">
                    <img class="rounded" src="assets/img/2.jpg" alt="SPG" width="512" height="288">
                </div>
            </div>
            
        </li>
        <li>
            
            <div class="row my-5">
                <div class="col-sm">
                    <a href="/news/3">
                        <h3>Pep Guardiola: Liverpool have driven Manchester City to the very limit</h3>
                    </a>
                    <br>
                    <p>Pep Guardiola's Man City go into the final day of the Premier League season one point ahead of Liverpool;
                        City host Aston Villa at the Etihad Stadium, while Liverpool entertain Wolves;
                        watch Man City vs Aston Villa live on Sky Sports Main Event on Sunday; kick-off 4pm.
                    </p>
                </div>
                <div class="col-sm">
            <img class="rounded" src="assets\img\3.webp" alt="PGL" width="512" height="288">
            </div>
            </div>
        </li>
    </ul>
</div>
