<div class="container border border-dark shadow">
    <div class="row"><h2>Spanish Grand Prix: Lewis Hamilton vows to compete with Ferrari as Mercedes solve bouncing issues<br><br></h2></div>
    <div class="row">
        <div class="col-7"><p>Lewis Hamilton expects Mercedes to be able to battle it out with Ferrari in the Spanish Grand Prix; Toto Wolff told Sky Sports the team have solved their straight-line porpoising issues; watch the Spanish Grand Prix live on Sky Sports F1 at 2pm on Sunday
            <br>
            <br>
            <br>
            Lewis Hamilton believes Mercedes are capable of competing with Ferrari in Sunday's Spanish Grand Prix after another much-improved display from the team in qualifying.
             <br>
             <br>
             <br>
             Both George Russell and Hamilton built on promising practice runs on Friday and Saturday morning to qualifying fourth and sixth respectively for the race in Barcelona, with the team having brought an upgraded car to Spain.
             <br>
             <br>
             <br>
             Most significantly, Mercedes appear to have solved the straight-line porpoising issues which have plagued them during the opening rounds of the 2022 season and seven-time world champion Hamilton is in no doubt it is a realistic prospect to be duking it out with Ferrari, who will start with Charles Leclerc on pole and Carlos Sainz third, on race day.
            <br>
            <br>
            </div>
            <div class="col "><img class="rounded" src="assets\img\2.jpg" alt="PLFD" width="512" height="288">
                <br>
                <br>
                <a href="https://www.skysports.com/f1/news/12433/12618346/spanish-grand-prix-lewis-hamilton-vows-to-compete-with-ferrari-as-mercedes-solve-bouncing-issues">Source: SkySports</a></div>
    </div>

</div>