<div class="container border border-dark shadow">
    <div class="row"><h2>Pep Guardiola: Liverpool have driven Manchester City to the very limit<br><br></h2></div>
    <div class="row">
        <div class="col-7"><p>Pep Guardiola's Man City go into the final day of the Premier League season one point ahead of Liverpool; City host Aston Villa at the Etihad Stadium, while Liverpool entertain Wolves; watch Man City vs Aston Villa live on Sky Sports Main Event on Sunday; kick-off 4pm
            <br>
            <br>
            <br>
            Manchester City manager Pep Guardiola has credited Liverpool with bringing the best out of his own team, while also downplaying his contribution to the Premier League champions' rise as the two rivals prepare go head to head for the title on Super Sunday.
             <br>
             <br>
             <br>
             City lead Liverpool by just a point with one game left to play on Sunday afternoon as Guardiola's side host Aston Villa, while the Reds entertain Wolverhampton Wanderers with the champions needing a win to guarantee retaining the championship.
             <br>
             <br>
             <br>
             If City do manage to get over the line at the Etihad, then it will be their fourth title in the space of just five years, a remarkable achievement for Guardiola and his team.
            <br>
            <br>
            </div>
            <div class="col "><img class="rounded" src="assets\img\3.webp" alt="PLFD" width="512" height="288">
                <br>
                <br>
                <a href="https://www.skysports.com/football/news/11661/12617202/premier-league-final-day-whats-still-to-play-for">Source: SkySports</a></div>
    </div>

</div>