<!-- *** Live Matches *** -->
<div class="container">
  <div class="row">
    <div class="col lives">
      <div class="live-matches">
        <div class="live">
          <h4>
            Live matches
            <a href="#"><i class="fa-solid fa-arrow-left"> </i></a> &nbsp;
            <a href="#"><i class="fa-solid fa-arrow-right"> </i></a>
          </h4>

          <div class="live-icons justify-content-between">
            <img src="assets/img/teams-logo/manchester.png" />
            <h6>3 : 2</h6>
            <img src="assets/img/teams-logo/realmadrid.png" />
          </div>
          <div class="teams">
            <h1>Teams</h1>
            <div class="teams-list live-icons" *ngFor="let team of homeTeams">
              <img src="{{ team.logo }}" />
              <h6>{{ team.name }}</h6>

              <a href="/players"
                >Profile &nbsp;<i class="fa-solid fa-arrow-right"> </i
              ></a>
            </div>
          </div>

          <!-- *** Best Players *** -->
          <div class="teams">
            <h1>Best players</h1>
            <div
              class="teams-list live-icons"
              *ngFor="let player of findBestPlayer(Players)"
            >
              <img src="{{ player.logo }}" />
              <h6>{{ player.firstName }} {{ player.lastName }}</h6>
              &nbsp;&nbsp;
              <a href="/players"
                >{{ player.goals }} &nbsp;<i class="fa-solid fa-futbol"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- **** Main Section***-->
    <div class="col-8">
      <div class="home-img">
        <div class="info">
          <h4>Weekly Football <br />Challenge</h4>
        </div>
        <div class="logo-home">
          <img src="assets/img/icons.png" />
        </div>
        <div class="clock">
          <i class="fa-solid fa-clock"></i> 17: 00 &nbsp; &nbsp;
          <i class="fa-solid fa-map-marker"></i> London
        </div>
        <div class="players">
          <div class="player-images">
            <img src="assets/img/players/1.jpg" alt="" />
            <img src="assets/img/players/2.jpg" alt="" />
            <img src="assets/img/players/3.jpg" alt="" />
          </div>
          <button class="btn bg-white color-black join-button" type="button">
            Join now <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- **** trendin Section ***-->
    <div class="col">
      <div class="trending-section">
        <div class="trendig">
          <h4>
            Trending Now
            <a href="#"><i class="fa-solid fa-arrow-left"> </i></a> &nbsp;
            <a href="#"><i class="fa-solid fa-arrow-right"> </i></a>
          </h4>

          <div class="best-player" *ngFor="let player of bestPlayer(Players)">
            <img src="{{ player.logo }}" />
            <h1>{{ player.firstName }} {{ player.lastName }}</h1>
            <small>
              <i class="fa-solid fa-futbol"></i> &nbsp;
              {{ player.goals }} Goals</small
            >
          </div>
          <div class="d-flex justify-content-center">
            <a class="btn btn-outline-info" href="/players"> View Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Latest Matches, Filter, View All  -->
<div class="container pt-2">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2 mt-2">
      <h5>Latest Matches</h5>
    </div>

    <!-- ******* Filtered matches controller ******-->
    <div class="col-md-auto">
      <div class="filter-data">
        <select name="results" id="results" [(ngModel)]="filters.year">
          <option value="">All</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
        </select>
        <select name="location" id="location" [(ngModel)]="filters.location">
          <option value="">All</option>
          <option value="Lisbon">Lisbon</option>
          <option value="London">London</option>
        </select>
      </div>
    </div>
    <div class="col col-lg-2">
      <a class="btn btn-info" href="/results">View All</a>
    </div>
  </div>
</div>

<!-- filtered matches section -->
<div class="row justify-content-end pt-2">
  <div class="col-4 mt-4 filtered-matches">
    <div
      class="col filtered-matches-1 justify-content-between live-icons"
      *ngFor="let info of latestMatches(Matches)"
    >
      <small> {{ info.id }}</small>
      <img src="{{ info.team1logo }}" />
      <div>{{ info.team1 }}</div>
      <small> VS </small>
      <h6>{{ info.team2 }}</h6>
      <img src="{{ info.team2logo }}" />
      <i class="fa-solid fa-clock"></i> {{ info.dateofmatch }} -
      {{ info.time }} &nbsp; &nbsp; <i class="fa-solid fa-map-marker"></i>
      {{ info.location }}
      <i class="fa fa-heart" style="font-size: 25px"></i>
      <a href="#"
        >View Details &nbsp;<i class="fa-solid fa-arrow-right"> </i
      ></a>
    </div>
  </div>

  <!-- create game section -->
  <div class="col-4">
    <div class="create-game">
      <h1>Create Game</h1>
      <form>
        <div class="form-group mb-2">
          <input
            type="text"
            class="form-control"
            id="gametype"
            placeholder="Team 1"
            list="gametype"
          />
        </div>
        <div class="form-group mb-2">
          <input
            type="text"
            class="form-control"
            id="gametype"
            placeholder="Team 2"
            list="gametype"
          />
        </div>
        <div class="form-group mb-2">
          <input type="date" class="form-control" id="dateofgame" />
        </div>
        <div class="form-group mb-2">
          <input type="time" class="form-control" id="time" />
        </div>
        <div class="form-group mb-2">
          <select class="form-control" id="exampleSelect">
            <option>Lisbon</option>
            <option>London</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
</div>
