<!-- *** Live Matches *** -->
<div class="container">
  <div class="row">
    <div class="col lives">
      <div class="live-matches justify-content-between">
        <div class="live">
          <h1>
            Live matches
            <a href="#"><i class="fa-solid fa-arrow-left"> </i></a> &nbsp;
            <a href="#"><i class="fa-solid fa-arrow-right"> </i></a>
          </h1>

          <div class="live-icons justify-content-between">
            <img src="assets/img/teams-logo/manchester.png" />
            <h6>3 : 2 &nbsp;</h6>
            <img src="assets/img/teams-logo/realmadrid.png" />
          </div>
          <div class="teams">
            <h1>Teams</h1>
            <div class="teams-list live-icons" *ngFor="let team of homeTeams">
              <img src="assets/img/teams-logo/manchester.png" />
              <h6>{{ team.name }}</h6>
              &nbsp;&nbsp;
              <a href="#"
                >See profile &nbsp;<i class="fa-solid fa-arrow-right"> </i
              ></a>
            </div>
          </div>

          <!-- *** Best Players *** -->
          <div class="teams">
            <h1>Best players</h1>
            <div
              class="teams-list live-icons"
              *ngFor="let player of findBestPlayer(Players)"
            >
              <img src="assets/img/teams-logo/manchester.png" />
              <h6>{{ player.firstName }}</h6>
              &nbsp;&nbsp;
              <a href="#"
                >{{ player.goals }} &nbsp;<i
                  class="fa-solid fa-chart-column"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- **** Main Div***-->
    <div class="col-8">
      <div class="home-img">
        <div class="info">
          <h4>Weekly Football <br />Challenge</h4>
        </div>
        <div class="logo-home">
          <img src="assets/img/icons.png" />
        </div>
        <div class="clock">
          <i class="fa-solid fa-clock"></i> 17: 00 &nbsp; &nbsp;
          <i class="fa-solid fa-map-marker"></i> London
        </div>
        <div class="players">
          <div class="player-images">
            <img src="assets/img/players/1.jpg" alt="" />
            <img src="assets/img/players/2.jpg" alt="" />
            <img src="assets/img/players/3.jpg" alt="" />
          </div>
          <button class="btn bg-white color-black join-button" type="button">
            Join now <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- **** trendin Section ***-->
    <div class="col">
      <div class="trending-section">
        <div class="trendig">
          <h6>
            Trending Now
            <a href="#"><i class="fa-solid fa-arrow-left"> </i></a> &nbsp;
            <a href="#"><i class="fa-solid fa-arrow-right"> </i></a>
          </h6>
          <div class="trending-img">
            <img
              src="assets\img\logo.png"
              width="100"
              height="100"
              class="rounded-circle"
            />
          </div>
          <div class="best-player" *ngFor="let player of bestPlayer(Players)">
            <h6>{{ player.firstName }} {{ player.lastName }}</h6>
            <small>
              <i class="fa-solid fa-futbol"></i> &nbsp;
              {{ player.goals }} Goals<</small
            >
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-info">
              View Profile
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Latest Matches, Filter, View All  -->
<div class="container pt-4">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <div class="latest-matches">
        <h5>Latest Matches</h5>
      </div>
    </div>

    <!-- ******* Filtered matches controller ******-->

    <div class="col-md-auto">
      <div class="filter-data">
        <select name="football" id="competitons">
          <option value="football">Football</option>
          <option value="Volley">Volley</option>
          <option value="basketball">Basketball</option>
        </select>
        <select name="results" id="results">
          <option value="5 vs 5">5 vs 5</option>
          <option value="6 vs 6">6 vs 6</option>
          <option value="7 vs 7">7 vs 7</option>
        </select>
        <select name="location" id="location">
          <option value="London">London</option>
          <option value="Bayern">Bayern</option>
        </select>
      </div>
    </div>
    <div class="col col-lg-2">
      <button class="btn btn-info">View All</button>
    </div>
  </div>
</div>

<!-- filtered matches section -->
<div class="row justify-content-end pt-2">
  <div class="col-4 mt-4 filtered-matches">
    <div class="col filtered-matches-1 justify-content-between live-icons">
      <img src="assets/img/teams-logo/manchester.png" />
      <h6>Team 1</h6>
      <small>vs</small>
      <img src="assets/img/teams-logo/realmadrid.png" />
      <h6>Team 2</h6>
      <i class="fa-solid fa-clock"></i> 17: 00 &nbsp; &nbsp;
      <i class="fa-solid fa-map-marker"></i> London
      <i class="fa fa-heart" style="font-size: 25px"></i>
      <a href="#"
        >View Details &nbsp;<i class="fa-solid fa-arrow-right"> </i
      ></a>
    </div>
    <div class="col filtered-matches-1 justify-content-between live-icons">
      <img src="assets/img/teams-logo/manchester.png" />
      <h6>Team 1</h6>
      <small>vs</small>
      <img src="assets/img/teams-logo/realmadrid.png" />
      <h6>Team 2</h6>
      <i class="fa-solid fa-clock"></i> 17: 00 &nbsp; &nbsp;
      <i class="fa-solid fa-map-marker"></i> London
      <i class="fa fa-heart" style="font-size: 25px; color: red"></i>
      <a href="#"
        >View Details &nbsp;<i class="fa-solid fa-arrow-right"> </i
      ></a>
    </div>
    <div class="col filtered-matches-1 justify-content-between live-icons">
      <img src="assets/img/teams-logo/manchester.png" />
      <h6>Team 1</h6>
      <small>vs</small>
      <img src="assets/img/teams-logo/realmadrid.png" />
      <h6>Team 2</h6>
      <i class="fa-solid fa-clock"></i> 17: 00 &nbsp; &nbsp;
      <i class="fa-solid fa-map-marker"></i> London
      <i class="fa fa-heart" style="font-size: 25px"></i>
      <a href="#"
        >View Details &nbsp;<i class="fa-solid fa-arrow-right"> </i
      ></a>
    </div>
    <div class="col filtered-matches-1 justify-content-between live-icons">
      <img src="assets/img/teams-logo/manchester.png" />
      <h6>Team 1</h6>
      <small>vs</small>
      <img src="assets/img/teams-logo/realmadrid.png" />
      <h6>Team 2</h6>
      <i class="fa-solid fa-clock"></i> 17: 00 &nbsp; &nbsp;
      <i class="fa-solid fa-map-marker"></i> London
      <i class="fa fa-heart" style="font-size: 25px"></i>
      <a href="#"
        >View Details &nbsp;<i class="fa-solid fa-arrow-right"> </i
      ></a>
    </div>
  </div>

  <!-- create game section -->
  <div class="col-4">
    <div class="create-game">
      <h5>Create Game</h5>
      <form>
        <div class="form-group mb-2">
          <input
            type="text"
            class="form-control"
            id="gametype"
            placeholder="Game Type"
            list="gametype"
          />
          <datalist id="gametype">
            <option>Football</option>
            <option>Football</option>
          </datalist>
        </div>
        <div class="form-group mb-2">
          <input
            type="text"
            class="form-control"
            id="location"
            placeholder="Select Location"
          />
        </div>
        <div class="form-group mb-2">
          <input
            type="text"
            class="form-control"
            id="select-ground"
            placeholder="Select Ground"
          />
        </div>
        <div class="form-group mb-2">
          <input type="date" class="form-control" id="dateofgame" />
        </div>
        <div class="form-group mb-2">
          <input
            type="number"
            class="form-control"
            id="numberofplayer"
            placeholder="Number of players"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
