.results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 128, 0, 0.205);
  padding: 1.5rem;
  width: 50rem;
  border-radius: 1rem;
  margin: 0.5rem;
  font-size: 1.5rem;

  h6 {
    font-size: 1.2rem;
  }

  img {
    height: 5.5rem;
    width: 5rem;
    border-radius: 10%;
    border: 3px solid #e2ebf2;
  }
}
